---
import ButtonCopyClipboard from "./ButtonCopyClipboard.tsx";
---

<section id="about" class="text-gray-400 body-font my-28 mx-10 lg:mt-0 scroll-mt-28">
  <div class="container mx-auto flex items-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h2
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-black dark:text-white"
      >
        Sobre mí
      </h2>
      <p class="leading-relaxed mb-8 text-xl text-gray-700 dark:text-gray-300">
        Desarrollador freelance de aplicaciones web y móviles, especializado en <strong
          class="dark:text-white text-black">React y React Native.</strong
        > En búsqueda de nuevas oportunidades y en constante aprendizaje <strong
          class="dark:text-white text-black">autodidacta</strong
        >. Actualmente ampliando mis conocimientos en el <strong
          class="dark:text-white text-black"
          >desarrollo de aplicaciones móviles nativas</strong
        > en la
        <strong class="dark:text-white text-black"
          >Universidad Nacional De La Matanza</strong
        >, así como también explorando
        <strong class="dark:text-white text-black">NodeJs</strong> y <strong
          class="dark:text-white text-black">TypeScript</strong
        > por mi cuenta.
      </p>
    </div>
    <!-- <ButtonCopyClipboard client:load/> -->
  </div>
</section>
